<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--spring封装的最简单的数据源  不支持数据库连接池-->
    <bean class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatisStudy?serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="000"/>
    </bean>

    <!--三方数据库连接池-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatisStudy?serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="000"/>
        <!--最大数据库连接数-->
        <property name="maxActive" value="255"/>
        <!--最大等待连接中的数量-->
        <property name="maxIdle" value="5"/>
        <!--最大等待毫秒数-->
        <property name="maxWait" value="10000"/>
    </bean>

    <!--jdbcTemplate是spring针对jdbc代码失控的解决方案，严格来讲，不算成功-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--我们知道jdbcTemplate源码是不支持事务管理的，而能够支持事务管理的是TransactionTemplate模板-->
    <!--配置数据源事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置注解驱动，这样就可以使用@Transaction注解-->
    <tx:annotation-driven transaction-manager="transactionManager"/>


    <!--spring-mybatis是mybatis向spring靠齐的解决方案-->
    <!--提供了SqlSessionFactoryBean，因为在mybatis中SqlSessionFactory是产生SqlSession的关键-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--下面配置了mapperFactoryBean，这里就不用配置了-->
<!--        <property name="configLocation" value="classpath:mybatis-config.xml"/>-->
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <!--mybatis执行器-->
<!--        <constructor-arg name="executorType" value="BATCH"/>-->
    </bean>

    <!--单独扫描一个Mapper接口，若是多个mapper接口，单独配置很麻烦-->
    <bean id="roleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <!--设置mapper接口-->
        <property name="mapperInterface" value="mapper.RoleMapper"/>
        <!--同时注入SqlSessionFactory与SqlSessionTemplate只会启用SqlSessionTemplate-->
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--多个包扫描可用逗号分开-->
        <property name="basePackage" value="mapper"/>
        <!--同理，SqlSessionTemplate会覆盖SqlSessionFactory-->
        <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--只扫描注解了该注解的接口-->
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
        <!--除了扫描注解的接口，也可以扫描实现接口的类，XXXX表示实现或继承了哪个接口-->
        <!--<property name="markerInterface" value="XXXX"/>-->
    </bean>

</beans>