<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!--jdbcTemplate是spring针对jdbc代码失控的解决方案，严格来讲，不算成功-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--spring封装的最简单的数据源  不支持数据库连接池-->
    <bean class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatisStudy?serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="000"/>
    </bean>

    <!--三方数据库连接池-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatisStudy?serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="000"/>
        <!--最大数据库连接数-->
        <property name="maxActive" value="255"/>
        <!--最大等待连接中的数量-->
        <property name="maxIdle" value="5"/>
        <!--最大等待毫秒数-->
        <property name="maxWait" value="10000"/>
    </bean>

</beans>